
<div class="span2 info">
        <div class="mystuff">
          <h4>My stuff</h1>
        </div>
        <div class="box">
          <h4>My lists</h1>
        </div>
        <div class="box">
          <h4>Make new list</h1>
     </div>
</div>

<div class="span0.1">
</div>

<div class="span9 expertadvice">
        <div class="span4">
           <h4>Search expert advice.....</h4>
        </div>
</div>


<div class="span9 clearboth">
  <div class="span4">
      <div id="book">
         <h3>Books</h3>
      </div>
      <div>
        <h3>Films</h3>
      </div>
      <div>
        <h3>Music</h3>
      </div>
  </div>

  <div class="span4">
    <div>
      <h3>Cocktail Bars</h3>
    </div>
    <div>
      <h3>Restaurants</h3>
    </div>
    <div>
      <h3>Coffee Shop</h3>
    </div>
  </div>
</div>


   <!--  <div class="span9">
        <div class="span4">
            <div class="box">
               <h1>Books</h1>
            </div>
            <div class="box">
                <h1>Restaurants</h1>
            </div>
            <div class="box">
                <h1>CoffeeShops</h1>
            </div>
        </div>
        <div class="span4">
            <div class="box">
               <h1>Movies</h1>
            </div>
            <div class="box">
                <h1>Songs</h1>
            </div>
            <div class="box">
                <h1>Cocktail Bars</h1>
            </div>
        </div>
    </div>
</div> -->



<!-- <div class="span4.5">
  <div style ="border:1px solid black;">
    <h1>My books</h1>
  </div>
</div> -->




<!-- <img src="smiley.gif" alt="Smiley face" height="42" width="42">