<!-- <h5> Users Index </h5> -->
<div class="info">
     <div class="span2 box">
        <h1>My stuff</h1>
     </div>
     <div class="span1">
     </div>
     <div class="span5 box">
        <h1>Search Expert Advice..</h1>
     </div>
</div>



<div class="expertadvice">
    <div class="span3">
        <div class="lists box">
           <h1>My Lists</h1>
        </div>
        <div class="newlist, box">
           <h1>New List</h1>
        </div>

    </div>


    <div class="span9">
        <div class="span4">
            <div class="box">
               <h1>Books</h1>
            </div>
            <div class="box">
                <h1>Restaurants</h1>
            </div>
            <div class="box">
                <h1>CoffeeShops</h1>
            </div>
        </div>
        <div class="span4">
            <div class="box">
               <h1>Movies</h1>
            </div>
            <div class="box">
                <h1>Songs</h1>
            </div>
            <div class="box">
                <h1>Cocktail Bars</h1>
            </div>
        </div>
    </div>
</div>



<!-- <div class="span4.5">
  <div style ="border:1px solid black;">
    <h1>My books</h1>
  </div>
</div> -->




<!-- <img src="smiley.gif" alt="Smiley face" height="42" width="42"> -->