<h1>Expert Song Lists</h1>

<div class="container">
    <div class="bookshow">
      <% @users.each do |x| %>
        <div class='span3 encapsulated'>
             <div class='biousername'>
               <%= x.username %>
             </div>
             <%=image_tag x.image_url, :class => 'usersimage' %>
          
             <% x.advisables.where(:type => 'Song').first(10).each do |y| %>
             <div class='bioimage'>
               <%= y.name %>
             </div>
             <%end%>
    </div> 
    <%end%>
    </div>
</div>