div.span6{
    border:.1em solid black;
    border-radius:1em;
    height:35em;
    background-color:lightgrey;

    .signin{
        margin-left:145px;
        font-family:"Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
       
    }
}

 .facebooksignin{
        margin-left:145px;
        font-size:31.5px;
        font-weight:bold;
        color:black;
        margin-top:.5em;
        font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;

        .facebook{
            color:black;
        }

        .avatar{
            width:50px;
            margin-top:1em;
            margin-left:3.3em;
        }

        #facebookavatar{
            width:100px;
        }
    }

#link{
    font-size:30px;
}

.navbar-inner{
    .brand{
        margin-left:5px;
    }
}