
  .mylists{
    margin-left:28px;
    }  
   

    .userlist{
       
        background-color:lightgrey;
        height:200px;
        margin:25px;
        h4{
            margin-left:20px;
        }
        p{
            margin-left:20px;
        }
 }       
    

